{% extends "_base.html" %}

{% block content %}
<div>
  <h1>Intermediate Writing</h1>
  <h3>Report and Reflection</h3>
</div>
<div>
  <p>Below is a link to one of my signature assignments for my Intermediate Writing class.  It is written from the point of view of a non-profit organization, attempting to raise awareness of a problem in the world.  In it, I explore the problem of safe artificial general intelligence, through the lense of the Center for Applied Rationality.  Beyond the content of the paper, I took pains to present the content in a visually appealing manner.  I feel that the combination of the content and the design work to make a fully realized piece of work.</p>
  <p>It should go without saying, but I feel it necessary all the same.  I have no affiliation with the Center for Applied Rationality.  This paper is not meant to represent their views, officially or unofficially, and they did not have any part in the production or content of this document, beyond as a source of inspiration.  The various images belong to their respective copyright holders, as well.</p>
  <p>I also include a bit of reflection, below the link to the paper.  Click on the arrow next to the word "Course Reflection" to expand the text.</p>
</div>
<div>
  <ul>
    <li>
      <a href="{{ url_for('static', filename='docs/report_paper.pdf') }}">Report on AI Safety</a>
    </li>
  </ul>
</div>
<div>
  <details>
    <summary>Course Reflection</summary>
    <p>Over the course of this semester, I've learned a thing or two about myself while taking this class.  I have uncovered an enjoyment of design in my documents.  This surprises me, as I have often found the visual design of documents and web pages to be one of my least favorite parts of the writing process.  This class provided me with the tools and impetus to exceed my own preconceptions, which I am pleased with.  I have also increased my appreciation for document revision.  This class provided us with multiple opportunities to revise our documents.  I had no fewer than four different people (and sometimes as many as eight!) proofread each of my works.  This added a level of refinement that went beyond my expectations.  If I had to summarize the effects that this class had on me, as a writer, I would say that it acted as a powerful focus to expose and refine my roughest edges.</p>

<p>Each of the assignments in this class provided me opportunities to stretch this renewed interest in visual design.  These assignments were focused around a single non-profit organization of our own choosing.  I chose the Center for Applied Rationality.  I find their efforts toward pushing the boundaries of our knowledge about how our day-to-day cognition works inspiring.  The most rewarding of our assignments was to write a report, involving our organization.  Rather than being a report <i>about</i> the organization, we were to write from the point of view <i>of</i> the organization.  The focus was on a perceived problem out in the world that the organization was motivated to improve upon.</p>

<p>This assignment gave me the opportunity to learn more about the problem of artificial general intelligence safety, which is both fascinating and <i>terrifying</i>.  This was also my favorite assignment to design, as I was able to put a lot of time into tweaking it to be just right.  I went through seven revisions of the document before I was satisfied.  I am pleased with the final result, I enjoyed researching the topic, and I am quite happy with the ultimate appearance of the document as well.</p>

<p>The single most important principle of writing that I have picked up from this course was the value of good design.  One of our assignments gave me the opportunity to take a paper previously written for another class, and redesign its layout using the techniques we learned here.  I made minimal changes to the content itself, but heavily modified the visual layout of the work.  Now it looks like a completely different document.  It is easier to browse, lighter to read, and feels like there is a lower barrier to approach the paper.  Since the content is effectively unchanged, I am enormously pleased with this result.  I intend to continue to develop my design skills, as this class has made their value clear.</p>
  </details>
</div>
{% endblock %}
