{% extends "_base.html" %}

{% block content %}
<div>
  <h1>Introduction to Writing</h1>
  <h3>Research Paper</h3>
</div>
<div>
  <p>Below are links to my final paper for my Introduction to Writing class.  We were tasked with deciding upon a topic of our choosing, one relevant to the world today, and to research some aspect of it.  In particular, we were to pose a question, explore its facets, and then provide some semblance of an answer.</p>
  <p>I have chosen to explore a topic of personal interest.  The "alignment problem" as found in artificial intelligence research.  This problem is concerned with ensuring that the effective values of a general artificial intelligence remain consistent and aligned with the common values of humanity, across modifications and over time.</p>
  <p>The annotated bibliography consists of a subset of my sources, with some short summarization of their contents and a few words about my intentions for their future use in my paper.  The paper itself follows in the next link below that, with a complete (unannotated) bibliography at the end.</p>
  <p>Finally, below the research paper is a short reflection on some of the things that I have learned over the course of the class.</p>
</div>
<div>
  <ul>
    <li>
      <a href="{{ url_for('static', filename='docs/annotated_biblio.pdf') }}">Annotated Bibliography</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='docs/research_paper.pdf') }}">Research Paper</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='docs/reflection.pdf') }}">Reflection Paper</a>
    </li>
  </ul>
</div>
{% endblock %}
