<!DOCTYPE html>
<head>
    <title>Blinkwink and you're gone.</title>
</head>
<body>
    <h1>Salutations</h1>
    <p>Welcome to Ima's place.  I don't have a whole lot going on here.  Maybe soon.  For now, enjoy a neat thing or two that I have come across in my travels.</p>

    <h2>Offsite Links</h2>
    <h3>Productivity</h3>
    <ul>
        <li><a href="https://complice.co">Complice</a></li>
        <li><a href="https://habitica.com/static/front">Habitica (Formerly Habit RPG)</a></li>
    </ul>

    <h3>Rationality</h3>
    <ul>
     <li><a href="http://lesswrong.com">Less Wrong</a></li>
     <li><a href="http://slatestarcodex.com/">Slate Star Codex</a></li>
    </ul>

    <h3>Delicious Fiction</h3>
    <ul>
         <li><a href="http://hpmor.com/">Harry Potter and the Methods of Rationality</a></li>
         <li><a href="http://luminous.elcenia.com/">Luminosity: Twilight Reimagined</a></li>
         <li><a href="https://glowfic.com/">Glowfic</a></li>
    </ul>

    <h2>Onsite Links</h2>
    <ul>
        <li>None just yet!</li>
    </ul>

    <h5>Contact: Me (Ima, hi again) and my domain are what you need to get a hold of me.  Good luck.</h5>
</body>
