{% extends "_base.html" %}
{% block content %}
    <h1>Principles of Macroeconomics</h1>

    <div>
      <p>When I first selected this class, it was on the basis of previous experience from my Economic History of the United States class, previously.  That professor recommended this course to me, and so - when presented with room on my agenda for an extra class - I picked it up.  I found the class to be both engaging and interesting.  I have had a vague interest in economics for some time, as it comes up in a surprising number of places in my life.</p>
      <p>The course itself was structured as a fast-paced survey of the material, starting with an overview of some core economic concepts shared between micro and macro.  Around midway through the semester, we dove into macroeconomics properly, diving into GDP, inflation, unemployment, and various ways of interpreting the information.  It was a great deal of information to take in.</p>
      <p>I found the material engaging, and the professor's approach to it particularly effective.  The manner of presentation was varied, from lectures to competetive teamwork at the whiteboards; from QR-code puzzles to article analysis.  I sometimes felt like I was treading water, but I never felt like the time was wasted, or that the material wasn't clearly presented.  There was a <i>lot</i> to take in.</p>
      <p>Below is a demonstration of some of my coursework.  First, a large packet illustrating many of the topics that we covered over the semester.  Then, a pair of news articles, complete with some brief write-ups illustrating how those articles encompass various macroeconomic concepts.</p>
    </div>
    <div>
      <ul>
        <li>
          <a href="{{ url_for('static', filename='docs/macro_eportfolio.pdf') }}">ePortfolio Packet</a>
        </li>
        <li>
          <a href="{{ url_for('static', filename='docs/macroecon/article_8.pdf') }}">Article 8 - Hotel charges 1$ per night for rooms in hopes of advertising revenue on filming guests</a>
        </li>
        <li>
          <a href="{{ url_for('static', filename='docs/macroecon/article_9.pdf') }}">Article 9 - Fed Plans to Hold Interest Rates Steady</a>
        </li>
      </ul>
    </div>
{% endblock %}
