{% extends "_base.html" %}
{% block content %}
    <h1>Reasoning and Rational Decision Making</h1>

    <div>
      <h3>Select a game to choose from:</h3>
      <ol>
        <li>What transformation was used to make the given categorical statement?</li>
        <li>What is the relationship between the given categorical statements?</li>
        <li>What does the given transformation turn the given categorical statement into?</li>
        <li>What categorical statement shares the given relationship with the given categorical statement?</li>
        <li>What categorical statement was used to create the given categorical statement using the given transformation?</li>
        <li>What is the form of the given categorical statement?</li>
        <li>Which categorical statement is represented from the given form?</li>
        <li>Which inference is valid, from the given categorical statement?</li>
      </ol>
    </div>

    <div>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    <div>

    <div>
      <form method="POST">
        <div>{{ form.question(disabled=True, size=50) }}</div>
        <div>{{ form.statement(disabled=True, size=100) }}</div>
        {% for field in form.options %}
          <div>{{ field}}</div>
        {% endfor %}
        {{ form.answer }}
      </form>
    </div>
{% endblock %}
